{{#if loggedIn}}
  <div class="list">
    {{#lists}}
      {{!SALE _ PABO}}
      <div data-hull-widget="list@hull" data-hull-id="{{id}}"></div>
    {{/lists}}
    {{^lists}}
      <p><small>No lists for the moment</small></p>
    {{/lists}}
  </div>

  <form>
    <fieldset>
      <legend>Create a new list</legend>
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="List Name"/>
      </div>

      <div>
        <label for="description">Description:</label>
        <input type="text" name="description" placeholder="Description"/>
      </div>

      <button type="submit" class="btn">Create List</button>

    </fieldset>
  </form>

{{else}}
  <div data-hull-widget="identity@hull"></div>
{{/if}}
