<div
  data-hull-component='keen/count'
  data-hull-event-collection='testing'
  data-hull-analysis-type='sum'
  data-hull-target-property='value'
  ></div>

<div
  data-hull-component='keen/count'
  data-hull-event-collection='testing'
  data-hull-analysis-type='count'
  data-hull-target-property='value'
  ></div>

<div
  data-hull-component='keen/series'
  data-hull-event-collection='Loaded a Page'
  data-hull-analysis-type='count'
  ></div>
